{% extends 'layout.html.twig' %}

{% block title %}
    Source Query PHP Library
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Source Query PHP Library</h1>

            <p class="lead">This library was created to query game server which use the Source (Steamworks) query protocol.</p>

            <p>
                <a class="btn btn-large btn-primary" href="https://xpaw.me">Made by xPaw</a>
                <a class="btn btn-large btn-primary" href="https://github.com/xPaw/PHP-Source-Query">View on GitHub</a>
                <a class="btn btn-large btn-danger" href="https://github.com/xPaw/PHP-Source-Query/blob/master/LICENSE">LGPL v2.1</a>
            </p>
        </div>
    </div>

    <div class="container">
        {% include 'exceptionBlock.html.twig' %}

        <div class="row">
            <div class="col-sm-6">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="info-column">Server Info</th>
                        <th><span class="label label-{{ timer > 1.0 ? 'danger' : 'success' }}">{{ timer }}s</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for infoKey, infoValue in info %}
                        <tr>
                            <td>{{ infoKey }}</td>
                            <td>
                                {% if infoValue is same as(false) or infoValue is same as(true) %}
                                    {{ infoValue ? 'true' : 'false' }}
                                {% elseif infoValue is iterable %}
                                    <pre>
                                        {{ infoValue }}
                                    </pre>
                                {% else %}
                                    {{ infoValue }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No information received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Players <span class="label label-info">{{ players|length }}</span></th>
                            <th class="frags-column">Frags</th>
                            <th class="frags-column">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.Name }}</td>
                            <td>{{ player.Frags }}</td>
                            <td>{{ player.TimeF }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No players received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Rules <span class="label label-info">{{ rules|length }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ruleKey, ruleValue in rules %}
                        <tr>
                            <td>{{ ruleKey }}</td>
                            <td>{{ ruleValue }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No rules received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
